.image-popover__overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.image-popover__content {
	background: #fff;
	padding: 7%;
	border-radius: 8px;
	position: relative;
	max-width: 70%;
	max-height: 90%;
	min-width: 10rem;
	min-height: 10rem;
	overflow-y: auto;
}

.image-popover__content img {
	margin-top: 10px;
	max-width: 99%;
	height: auto;
	border-radius: 4px;
}

.image-popover__image-details {
	text-align: left;
	margin-top: 15px;
}

.image-popover__image-details p {
	margin: 5px 0;
}

.image-popover__image-details a {
	color: #4285f4;
	text-decoration: none;
}

.image-popover__image-details a:hover {
	text-decoration: underline;
}

.image-popover__close-button {
	position: absolute;
	top: -1%;
	right: 2%;
	border: none;
	background: none;
	font-size: 2rem;
	cursor: pointer;
	padding: 2%;
}

.image-popover__loader {
	width: 100%;
	height: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
