.image-popover__content {
	background: #fff;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	right: 0%;
	top: 90px;
	padding: 0 40px 1000px;
	height: 100vh;
	overflow-y: scroll;
	position: fixed;
}

.image-popover__content img {
	margin-top: 10px;
	width: 500px;
	height: auto;
	border-radius: 8px;
}

@media screen and (max-width: 768px) {
	.image-popover__content img {
		width: 100%;
	}

	.image-popover__content {
		top: 80px;
		width: 100%;
	}
}

@media screen and (min-width: 769px) and (max-width: 1600px) {
	.image-popover__content img {
		width: 400px;
	}
}

/* @media screen and (min-width: 1025px) and (max-width: 1600px) {
	.image-popover__content img {
		width: 450px;
	}
} */

@media screen and (min-width: 2000px) and (max-width: 2499px) {
	.image-popover__content img {
		width: 600px;
	}
}

@media screen and (min-width: 2500px) {
	.image-popover__content img {
		width: 700px;
	}
}

.image-popover__image-details {
	text-align: left;
	margin-top: 15px;
}

.image-popover__image-details p {
	margin: 5px 0;
}

.image-popover__image-details a {
	color: #4285f4;
	text-decoration: none;
}

.image-popover__image-details a:hover {
	text-decoration: underline;
}

.image-popover__close-button {
	align-self: flex-end;
	border: none;
	background: none;
	font-size: 2rem;
	cursor: pointer;
	line-height: normal;
}

.image-popover__loader {
	width: 100%;
	height: 22rem;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 300px;
}
